/* styles.css */
.slick-dots {
  /* bottom: 10px;  */
  /* Position the dots */
  /* background-color: wh; */
}

.slick-dots li {
  margin: 0 5px;
  /* bac */
  
}

.slick-dots li button {
  /* background: white;  */
  border: 1px solid white;
  border-radius: 50%;
  width: 8px; 
  height: 8px; 
  opacity: 1; 
  transition: background 0.3s; 
}

.slick-dots li.slick-active button {
  background: #fff;
  color:white 
}

.slick-dots li button:hover {
  background: white ;
  color:white
}
