.input-group {
  position: relative;
}

.input {
  border: solid 3px #1a2042;
  border-radius: 10px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: black;
  pointer-events: none;
  transform: translateY(1rem);
}

.input:focus,
.input:valid {
  outline: none;
  border: solid 3px #1a2042;
}

.input:focus + .user-label,
.input:valid + .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #f8fefb;
  padding: 0 0.2em;
  color: #1a2042;
}

/* Password toggle icon */
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #1a2042;
  transition: color 150ms ease;
}

.password-toggle-icon:hover {
  color: #1a2042;
}
